*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
   display: grid;
   grid-template-columns: repeat(3, 340px);
   justify-content: center;
   place-items: center;
   height: 90vh;
   gap: 20px;
   background-color: antiquewhite;
}

.caja {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: rgb(160, 160, 160);
    border-radius: 20px;
}

.caja button {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: cadetblue;
}